#tfort {
    padding: 1%; 
    background-color: rgba(129, 129, 129, 0.507); 
    text-align: center; 
    color: white; 
}

#fortuneC {
    padding: 1%;
    width: 250px;
    background-color: rgba(245, 222, 179, 0.74);
    font-size: 10px;
}

#imageC {
    width: 250px;
    height: 200px;
}

body {
    background: url('back.png') no-repeat;
}