.quote {
  position: fixed;
  top: 18%;
  left: 15%;
  right: 15%;
  font-family: "Sacramento", cursive;
  font-size: 2em;
  color: white;
  height: 80%;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
}

html {
  background: url("homepageimage.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.About {
  position: absolute;
  top: 100%;
  left: 38%;
  text-align: center;
  font-family: Courier, monospace;
  font-size: 20px;
  font-weight: unset;
  color: white;
  width: 400px;
  display: flex；;
}

* {
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: rgba(65, 62, 52, 0.397);
  height: 20%;
}

.navbar a {
  text-decoration: none;
  float: right;
  padding-right: 2vw;
  position: relative;
}

.column {
  margin-top: 15%;
  box-sizing: border-box;
  float: left;
  width: 25%;
  padding: 10px;
  height: 900px;
  filter: grayscale(100%);
  transition: 0.4s;
  background-repeat: no-repeat;
}

.row {
  position: relative;
  display: flex;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  text-align: center;
  color: rgba(66, 64, 64, 0.596);
  font-family: "Sacramento", cursive;
  font-size: 1.8em;
}

/*after the mouse hover we can see the real color of the images*/
.column:hover {
  filter: grayscale(0);
}

h3 {
  text-align: center;
  color: white;
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  padding-top: 1vw;
  font-size: 2.5em;
  text-decoration: none;
  margin-top: 1vw;
  font-weight: lighter;
}

h3:hover {
  color: rgba(66, 64, 64, 0.452);
}

.column img {
  margin-top: 500px;
  cursor: pointer;
  position: fixed;
  width: 70%;
}

#icon2:hover,
#icon3:hover,
#icon4:hover {
  width: 80%;
}

#icon {
  width: 90%;
}
