.bg_set {
  /* background-color: #dab692; */
  background-image: url("london_op.png");
  margin-top: 0px;
}

.tape {
  background-image: url("cinema2.png");
  margin-top: 50px;
}
.back_film {
  /* background-color: #f1f1f1; */
  background-image: url("cinema2.png");
}

h6 {
  color: #f2f2f2;
  background: #2f3542;
  font-size: 70px;
  line-height: 74px;
  font-weight: 700;
  margin: 50px 40px 10px;
  float: left;
  padding: 10px;
  font-family: "Libre Baskerville";
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  color: #ff6348;
  margin-top: 30px;
  padding-top: 20px;
  font-family: "Brush Script MT", cursive, bold;
  text-align: center;
  font-weight: 500;
  font-size: 70px;
}
h3:hover {
  color: #ff6348;
}
h5 {
  color: #f2f2f2;
  background: #2f3542;
  font-size: 50px;
  line-height: 74px;
  font-weight: 500;
  margin: 100px 0px 10px;
  float: left;
  padding: 10px;
  font-family: "Brush Script MT", cursive;
  transform: rotate(-20deg);
}

h4 {
  color: #f2f2f2;
  background: #2f3542;
  font-size: 50px;
  line-height: 74px;
  font-weight: 300;
  margin-left: 40px;
  margin-top: 250px;
  margin-right: 600px;
  float: left;
  padding: 10px;
  font-family: "Libre Baskerville";
}

#work_title {
  float: left;
  position: absolute;
  width: 100%;
}

.menu_toggle {
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  cursor: pointer;
  width: 100px;
  height: 80px;
  background-color: #f2f2f2;
  border-bottom-right-radius: 100%;
}

.menu_toggle i {
  color: #f2f2f2;
}

.menu_items {
  position: fixed;
  bottom: 0;
  left: 50px;
  list-style-type: none;
  margin: 0;
  padding: 15px;
  font-size: 20px;
  font-weight: 700px;
  background-color: #2f3542;
}
.menu_items li {
  height: 60px;
  margin-bottom: 30px;
}
.menu_items li:nth-child(2) {
  margin-left: 40px;
}
.menu_items li:nth-child(3) {
  margin-left: 80px;
}
.menu_items a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #f2f2f2;
  transition: color 0.2s;
}
.menu_items a .icon {
  position: relative;
  display: inline-block;
  margin-right: 25px;
  color: #f2f2f2;
}
.menu_items a .icon:after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  margin-left: -33px;
  margin-top: -32px;
  border-radius: 100%;
  border: 2px solid #f2f2f2;
  transition: border-color 0.2s;
}
.menu_items a:hover {
  color: #ff6348;
}
.menu_items a:hover .icon:after {
  border-color: #ff6348;
}
.menu_items a:active .icon {
  color: #7a0b0b;
}

body {
  color: black;
}

#navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: #2f3542;
  padding-top: 0;
  margin: 0;
}

.logo {
  width: 100px;
  margin-left: 20px;
}

nav {
  float: right;
  margin-left: 400px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 10px;
  margin-left: 25px;
  color: white;
}
nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #ff6348;
}

h3 {
  font-size: 30px;
  line-height: 74px;
  font-weight: 300;
  float: left;
  padding: 10px;
  font-family: "Libre Baskerville";
  color: white;
  margin-top: 40px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2 {
  color: white;
  margin-top: 10px;
  padding-top: 10px;
  font-family: "Libre Baskerville", cursive;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  margin-left: 100px;
  margin-right: 100px;
}

.container {
  margin-bottom: 100px;
}

.overlay {
  position: absolute;
  top: 390px;
  bottom: 10px;
  left: 310px;
  right: 310px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000000c2;
  padding-top: 100px;
  margin-bottom: 0;
  height: 400px;
}

#text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 30%;
  left: 350px;
  padding-right: 0;
  padding-top: 100px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
  font-family: "Libre Baskerville", cursive;
}

.container:hover .overlay {
  opacity: 1;
}
