html {
  background-color: #47bbdf;
}
header {
  background-color: white;
  border: 5px black;
  border-radius: 10px;
  width: auto;
  text-align: center;
  font-size: 36px;
}

h1 {
  margin: 0;
  font-size: 1.3em;
  color: rgb(13, 74, 109);
}

p {
  font-size: 1.3em;
  color: white;
}

.fa.fa-check-circle,
.fa.fa-flag,
.fa.fa-play {
  color: white;
  margin-bottom: 10px;
  margin-right: 0;
}

ul li .fa::after {
  content: "";
  background: rgba(255, 255, 255, 0.568);
  height: 5px;
  width: 200px;
  display: block;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

.progress i {
  width: 80px;
  margin-right: 20em;
}

.progress ul {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 0;
  padding-left: 0;
  margin-right: 40px;
}

.progress ul li {
  display: inline-block;
  width: 200px;
  position: relative;
}
