body {
  font-family: "Gotham";
  background-repeat: no-repeat, repeat;
  background: url("bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.maincontainer {
  position: relative;
  height: 100vh;
  width: 60%;
  margin: 0 auto;
  overflow: auto;
}
.titlecontainer {
  width: 100%;
  height: 100px;
  margin-top: 0px;
  position: absolute;
  top: 50%;
}

.title {
  width: 300px;
  height: 100px;

  margin: -100px 0 0 -150px;
  position: absolute;
  top: 50%;
  left: 50%;

  font-weight: 500;
  font-size: 50px;
  color: white;

  text-align: center;
}
.letters {
  text-shadow: 2px 2px 2px #2b0346;
  padding: 20px 0;
  text-align: center;
  line-height: 100px;
}
#moto {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  color: white;
  font-family: "Gotham";
  text-align: center;
}

.title .line {
  position: absolute;
  left: 0%;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: white;
}

button {
  border: none;
  outline: none;
}
/*.btn {
      background-color:grey;
      border: none;
      color: white;
      padding: 4px 8px; 
      font-size: 25px; 
      cursor: pointer; 
      border-radius: 50px;
      text-align: center;
     
    }*/
.btn {
  border-style: solid;
  border-width: thin;
  color: white;
  font-size: 20px;
  padding: 15px;
  margin: 10px;
  border-radius: 100px;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  font-family: "Gotham";
}

.btn:hover {
  background-color: black;
}

.buttoncontainer {
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
  text-align: center;
}
#loginBtn {
  left: 20%;
  margin-left: 2%;
  margin-right: 2%;
}
#registerBtn {
  right: 20%;
  margin-left: 2%;
  margin-right: 2%;
}
